# CubeMX 工程描述文件 —— 不忽略，必须提交！
# *.ioc

# 生成的应用代码 —— 有用户代码，不忽略整个目录
# Core/
# 但忽略部分可能包含敏感或重新生成的文件（后面有说明）



# ---------- 编译输出 ----------
*/RTE/
*.uvguix.*
*.uvoptx
*.hex
*.bin
*.axf
*.o
*.obj
*.d
*.map
*.lst
*.htm
*.build_log.htm
*.lnp
*.iex
*.dep

# ---------- 备份与临时文件 ----------
*.bak
*.tmp
JLinkLog.txt



